p{
    font-size: 18pt;
}
p:hover{
    font-style: italic;
}
.line{
    height:5px;
    background-color:#333;
 }
 h1{
    font-size: 124pt;
 }
 .number {
    position: absolute;
    right: 40px;
    bottom: 0;
    font-size: 120pt;
    font-style: italic;}
    th
{
    background-color:black;
    color:white;
}
a{
    color: white;
}
